@import "../helpers/_helpers.scss";

/*Common CSS Declarations*/
body {

  background: red;

  @include small-screens-min{
    background: blue;
  }

  @include medium-screens-min{
    background: greenyellow;
  }

  @include large-screens-min {
    background: brown;
  }

}
h1 {}
h2 {}
h3 {}
p {}
a {}
a:hover {}

/*Wrapper*/
.wrapper {}

