.hidden {
    @include hidden;
}

.shown {
    @include shown;
}

.visually-hidden {
    @include visually-hidden;
}
.show-hidden {
    @include show-hidden;
}

.clearfix {
    @include clearfix;
}

.clearfix-simple {
    @include clearfix-simple;
}
