.button--presentational {
    border-radius: 5px;
    color: #000;
    border: 1px solid #cfcbca;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.top-spaced {
    margin-top: 20px;
}
