$regal-blue: #1F4864;
$oyster-bay: #D7E2E9;
$white: #FFF;
$sunglow: #FFCB35;
$burnt-sienna: #E95C40;
$tyrian-purple: #50021B;

/*
Minimalist Color Palettes 2015
*/

/*Palette 1*/
/*https://pp.vk.me/c543104/v543104773/122b8/hSKHXUFxq24.jpg*/

$spring-sun: #E5EEC1;
$chinook: #A2D4AB;
$boston-blue: #3EACA8;
$breaker-bay: #547A82;
$don-juan: #5A5050;

/*Palette 2*/
/*https://pp.vk.me/c543104/v543104773/122a4/ONlndoMAZ9w.jpg*/

$spring-rain: #99B898;
$peach: #FECEA8;
$vivid-tangerine: #FF847C;
$dark-pink: #E84A5F;
$oxford-blue: #2A363B;

/*Palette 3*/
/*https://pp.vk.me/c543104/v543104773/12272/gUCcfmk7728.jpg*/

$darkest-pink: #EF4566;
$wewak: #F69A9A;
$apricot: #F9CDAE;
$parchment: #C8C8A9;
$sea-nymph: #83A99B;

/*Palette 4*/
/*https://pp.vk.me/c543104/v543104773/1227c/-q1FRfJMTb8.jpg*/

$dark-purple: #A6206A;
$amaranth: #EC1C4B;
$crusta: #F16A43;
$sweet-corn: #F7D969;
$scooter: #2F9395;

/*Palette 5*/
/*https://pp.vk.me/c543104/v543104773/12286/0YyXnL1MoKM.jpg*/

$shady-lady: #A8A7A8;
$cabaret: #CC527A;
$ruby: #E8175D;
$charcoal: #474747;
$gondola: #363636;

/*Palette 6*/
/*https://pp.vk.me/c543104/v543104773/12290/d306xiav1QY.jpg*/

$snow-flurry: #E1F5C4;
$texas: #ECE473;
$turbo: #F9D423;
$yellow-sea: #F6903D;
$burnt-sienna: #F05053;

/*Palette 7*/
/*https://pp.vk.me/c543104/v543104773/1229a/DoWRTmzmbwI.jpg*/

$mandys-pink: #F8B195;
$salmon: #F67280;
$contessa: #C06C84;
$kimberly: #6C5B7B;
$matisse: #355C7D;

/*Palette 8*/
/*https://pp.vk.me/c543104/v543104773/122ae/e8JhM4JFXD0.jpg*/

$scandal: #ACDBC9;
$snowy-mint: #DBEBC2;
$sandy-beach: #FDD2B5;
$sundown: #F7A7A6;
$wewak-v2: #F48B94;
