@import "../../helpers/_helpers.scss";

/*
Table Grid based on mdo/table-grid.
http://mdo.github.io/table-grid/
*/


/*
Grid classes
*/

.table-col {
  background: yellow;
}

.table-col--center-aligned-inline {
  text-align: center;
}

.table-col--center-aligned-block {
  margin: 0 auto;
}

@include base-screens-max{
  .table-grid--padded {
    .table-col {
      margin: 1rem;
    }
  }
}

@include small-screens-min {

  .table-grid {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .table-grid--padded {
    border-spacing: 1rem 0;
  }

  .table-grid--reverse {
    direction: rtl;
    .table-col{
      direction: ltr;
    }
  }

  .table-col {
    display: table-cell;
  }

  .table-col--vertical-aligned {
    vertical-align: middle;
  }
}
