@import "../../helpers/_helpers.scss";

/*
Table Grid based on mdo/table-grid.
http://mdo.github.io/table-grid/
*/


/*
Grid classes
*/

@include small-screens-min {
  .table-grid {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .table-grid--padded {
    border-spacing: 1rem 0;
  }

  .table-grid--reverse {
    direction: rtl;
    .table-col{
      direction: ltr;
    }
  }

  .table-col {
    display: table-cell;
    background: yellow;
  }

  .table-col--vertical-aligned {
    vertical-align: middle;
  }
}
