// Grid Variables
$base-column: 47px;
$base-margin: 36px;
$total-columns: 12;

// Tablet Grid
$tablet-column: 50px;
$tablet-margin: 32px;
$tablet-total-cols: 9;

// Mobile Grid
$mobile-column: 136px;
$mobile-margin: 24px;
$mobile-total-cols: 4;

// Responsive Breakpoints
$bp-small-width: 480px;
$bp-medium-width: 768px;
$bp-large-width: 992px;
$bp-x-large-width: 1200px;

// Typographic Scale
// $inch-text-size: --;
$canon-text-size: 38px;
$paragon-text-size: 30px;
$primer-text-size: 24px;
$tertia-text-size: 18px;
$normal-text-size: 14px;
$petite-text-size: 12px;
// $minion-text-size: --;

// Baseline Typography
$base-text-size: $normal-text-size;

// Change this if `html` !== `100%`
$root-text-size: 16px;

// For line-height in .type-size mixin
$round-to-nearest: quarter;

// Vertical Rhythm
$base-vertical: 20px;

// Border Variables
$default-border-width: 1px;
$default-border-radius: 3px;
